/* BIG WEBSITE */
/* big.css */


html {
    background-color:#ccc;
}

main {
    background-color:#fff;
    width:80%;
    margin:auto;
}

/* start text styling*/

h1 a {
    text-decoration: none;
}

h2 {
    margin: 1em 1em;    
}

h3{
    padding: 0 0 0 1.5em;
    font-size: 1.3em;
}

h4{
    padding: 0 0 0 1.5em;
    font-size: 1em;
}

p {
    margin: 2em 2em;
    text-align: justify; /* this makes the text flow in the middle */
    font-size: 1.3em;
    line-height: 1.3em;
}

/* end text styling*/

section {
    float:left;
    width:65%;
}

aside {
    float:right;
    width:34%;
}

dt{
    padding: 10px 20px 10px 0px;
}
dd{
    margin-left: 10px;
    overflow-wrap: break-word;
}
    
}

div.gallery {
    text-align: center;
}


figure {
    display:inline-block;
    border:1px solid #000;
    margin:.25%;
}


/* START - EMBED RESPONSIVELY STYLES */
.embed-container { 
	  position: relative;
 	  padding-bottom: 56.25%;
         height: 0;
         overflow: hidden;
         max-width: 100%;
} 

.embed-container iframe { 
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
 }

/* END - EMBED RESPONSIVELY STYLES */

/* HIDE AGENDA VIEW CALENDAR*/
.embed-container.agenda-view {
    display:none;
}

/* CALENDAR RULES FOR PHONE */
@media all and (max-width:1440px) {
    
    /* Show Agenda View Calendar */
    div.embed-container.agenda-view {
        display:block;
    }
    
    /* Hide Month View Calendar */
    div.embed-container.month-view {
        display:none;
    }
}


footer {
    padding:1em;
    text-align:center;
    clear:both;
}

/* MOBILE STYLES */

@media all and (max-width:600px) {
    
   main {
    width:100%;
}
    
   section {
    float:none;
    width:100%;
 }
    
 aside {
    float:none;
    width:100%;
    
}   
    
}